<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="javascript:void(0)" (click)="gotoHome()" class="navbar-brand">Registro de pessoas</a>
      <div class="navbar pull-left">
        <a href="javascript:void(0)" class="nav-link active text-light" data-bs-toggle="modal" data-bs-target="#criarPessoa" aria-current="page">Registar</a>
        <a href="javascript:void(0)" class="nav-link text-light" aria-current="page" (click)="gotoHome()">Listar</a>
      </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Nome" aria-label="Buscar">
      <button class="btn btn-outline-light" type="submit" (click)="showMsg()">Buscar</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-pessoa-create-or-update
  target="criarPessoa"
  title="Registar Pessoa"
  [pessoa]="pessoa"
  (event)="gotoHome()"
>
</app-pessoa-create-or-update>