<div class="modal fade" tabindex="-1" [id]="modalName">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="execute()"><i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</div>